.clients{
    padding-bottom: 60px;
    &__title{
        font-size: 14px;
        line-height: 17.07px;
        color: var(--main-regular);
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 30px;
        margin: 0;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item{
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;

    }
    &__img{
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        width: 100%;
        height: auto;


    }
}