.clients{
    padding-bottom: 60px;
    @media screen and (max-width: 960px) {
       padding-bottom: 0;
     }
    &__title{
        font-size: 14px;
        line-height: 17.07px;
        color: var(--main-regular);
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 30px;
        margin: 0;
    }
    &__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media screen and (max-width: 720px) {
            :nth-child(7),
            :nth-child(8),
            :nth-child(9),
            :nth-child(10),
            :nth-child(11),
            :nth-child(12){
             display: none;
            }
         }
         @media screen and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
            justify-content: start;
         }
         @media screen and (max-width: 720px) {
            padding-left: 0;
            padding-right: 0;
            justify-content: center;
         }
    }
    &__item{
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        @media screen and (max-width: 1720px) {
            width: 360px;
         }
         @media screen and (max-width: 1440px) {
            flex: 1 1 25%;
         }
         @media screen and (max-width: 768px) {
            flex: 1 1 33%;
         }
         @media screen and (max-width: 720px) {
            max-width: 375px;
            flex: auto;

         }
        //  @media screen and (max-width: 1024px) {
        //     width: 256px;
        //  }
        //  @media screen and (max-width: 1024px) {
        //     padding-left: 0;
        //     padding-right: 0;
        //  }


    }
    &__img{
        display: block;
        margin: 0;
        padding: 0;
        text-decoration: none;
        width: 100%;
        height: auto;
        @media screen and (max-width: 1024px) {
            padding-left: 0;
            padding-right: 0;
         }

    }
}