.footer{
    background-color: var(--grey-bg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (max-width: 720px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-rows: 66px 98px 80px;
    }
    &__address{
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        height: 20px;
        &-name{
            display: block;
            color: var(--main-regular);
            line-height: 19.5px;
            margin: 0;
        }
        &-map{
            font-size: 12px;
            line-height: 14.63px;
            display: block;
            text-decoration: none;
            color: var(--active-regular);
            text-transform: uppercase;
        }
        @media screen and (max-width: 720px) {
            flex-direction: column;
            gap: 10px;
            max-width: 344px;
        &-dot-separator{
            display: none;
            }
        }
    }
    &__copyrights{
        display: flex;
        color: var(--grey-text);
        text-align: right;
        justify-content: end;
        align-items: center;
        margin: 0;
        height: 20px;
        min-width: 276px;
        @media screen and (max-width: 720px) {
            order: 3;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: center;
            max-width: 344px;
        }
    }
    &__contacts{
        display: flex;
        align-items: center;
        min-width: 398px;
        gap: 10px;
        &-fb:hover path,
        &-fb:focus path{
            fill: var(--accent);
        }
        &-tel{
            text-decoration: none;
            color: var(--main-alt);
        }
        &-email{
            text-decoration: none;
            color: var(--active-regular);
        }
        @media screen and (max-width: 720px) {
            flex-direction: column;
            gap: 10px;
            min-width: 344px;
        &-dot-separator{
            display: none;
            }
        &-fb{
            padding-top: 0;
            margin: 0;
        }
        }
    }
}