body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6,a{
    font-weight: 700;
}
.center{
    padding-left: calc(50vw - 584px);
    padding-right: calc(50vw - 584px);
    @media screen and (max-width: 1780px) {
        padding-left: calc(50vw - 500px);
        padding-right: calc(50vw - 500px);
    }
    @media screen and (max-width: 820px) {
        padding-left: calc(50vw - 300px);
        padding-right: calc(50vw - 300px);
    }
}