body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6,a{
    font-weight: 700;
}
.center{
    padding-left: calc(50vw - 808px);
    padding-right: calc(50vw - 808px);
    @media screen and (max-width: 1680px) {
        padding-left: calc(50vw - 668px);
        padding-right: calc(50vw - 668px);
    }
    @media screen and (max-width: 1420px) {
        padding-left: calc(50vw - 460px);
        padding-right: calc(50vw - 460px);
    }
    @media screen and (max-width: 960px) {
        padding-left: calc(50vw - 332px);
        padding-right: calc(50vw - 332px);
    }
    @media screen and (max-width: 740px) {
        padding-left: calc(50vw - 299px);
        padding-right: calc(50vw - 299px);
    }
    @media screen and (max-width: 720px) {
        padding-left: calc(50vw - 172px);
        padding-right: calc(50vw - 172px);
    }
}
.link-title{
    text-decoration: none;
    color: var(--active-regular);
    &:focus,
    &:hover{
        color: var(--accent);
        transition: .3s;
    }
    &:hover path,
    &:focus path {
        stroke:var(--accent);
        transition: .3s;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }