.logo{
    background-color: var(--main-regular);
    text-align: center;
    position: relative;
    &__text{
        position: absolute;
        top: 361px;
        left: 530px;
        min-width: 800px;
    }
    &__btn-scroll{
        position: absolute;
        bottom: 30px;
        left: 50%;

    }
}