.team {
    max-width: 1600px;
    width: 100%;
    @media screen and (max-width: 1680px) {
        max-width: 1320px;
    }
    @media screen and (max-width: 1420px) {
        max-width: 904px;
    }
    @media screen and (max-width: 960px) {
        max-width: 648px;
        padding-right: 0;
    }
    @media screen and (max-width: 720px) {
        max-width: 315px;
        padding-right: 0;
    }
    &__wrapper{
        display: flex;
        @media screen and (max-width: 960px) {
            flex-direction: column;
            justify-content: center;
        }
    }
    
    &__photo{
        width: 400px;
        height: auto;
        @media screen and (max-width: 960px) {
            width: auto;
            border-radius: 12px 12px 0px 0px;
        }
    }
    &__link{
        display: block;
        padding-top: 30px;
    }
    &__description{
        text-align: left;
        background-color: var(--grey-bg);
        padding-left: 30px;
    }
    &__header{
        font-size: 38px;
        background: var(--gradient-red-text);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 30px;
    }
    &__member{
        color: var(--grey-text);
        font-weight: 700;
        line-height: 19.5px;
        margin: 0;
        padding-bottom: 6px;
    }
    &__position{
        color: var(--grey-text);
        font-size: 14px;
        line-height: 22px;
        margin: 0;
        @media screen and (max-width: 960px) {
            padding-bottom: 30px;
        }
    }
    &__nav{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding-top: 30px;
        &-dot{
            opacity: .2;
            fill: var(--active-regular);
            padding-bottom: 60px;
            cursor: pointer;
        }
        &-dot:hover,
        &-dot:focus{
            fill: var(--active-regular);
            opacity: 1;
            transition: .3;
        }
        &-dot-active{
            opacity: 1;
        }
    }

}