.team {
    padding-top: 60px;
    max-width: 1600px;
    width: 100%;
    &__wrapper{
        display: flex;
    }
    
    &__photo{
        height: 298px;
        // width: 100%;
        // max-width: 400px;
        // border-radius: 12px 0px 0px 12px;
        // background-image: url("../img/team-member.jpg");
        // background-repeat: no-repeat;
        // background-size: cover;
    }
    &__link{
        display: block;
        padding-top: 30px;
    }
    &__description{
        text-align: left;
        background-color: var(--grey-bg);
        padding-left: 30px;
    }
    &__header{
        font-size: 38px;
        background: var(--gradient-red-text);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 30px;
    }
    &__member{
        color: var(--grey-text);
        font-weight: 700;
        line-height: 19.5px;
        margin: 0;
        padding-bottom: 6px;
    }
    &__position{
        color: var(--grey-text);
        font-size: 14px;
        line-height: 22px;
        margin: 0;
    }
    &__nav{
        display: flex;
        justify-content: center;
        gap: 15px;
        padding-top: 30px;
        &-dot{
            opacity: .2;
            fill: var(--active-regular);
            padding-bottom: 60px;
            cursor: pointer;
        }
        &-dot:hover,
        &-dot:focus{
            fill: var(--active-regular);
            opacity: 1;
            transition: .3;
        }
        &-dot-active{
            opacity: 1;
        }
    }

}